@import url('https://fonts.googleapis.com/css?family=Lato|Pacifico');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f1f1f1;
    font-family: 'Lato', sans-serif;
    color: #fff;
}

.container {
    background: #242932;
    margin: 3rem auto;
    max-width: 640px;
}

.todo {
    padding: 3rem;
    border-radius: 1em;
    width: 90%;
    min-width: 640px;
    height: 700px;
    overflow: scroll;
}

.todo-header {
    text-align: center;
}

.todo-title {
    margin: 1rem;
    font-family: 'Pacifico', cursive;
}

input {
    width: 100%;
    padding: 1rem 1.2rem;
    border-radius: .5em;
    border: none;
    outline: none;
    font-size: 1rem;
}

.todo-item {
    border-bottom: 2px solid #d49a3f;
    padding: 1rem 1.2rem;
    list-style-type: none;
}

.todo-item:hover {
    cursor: default;
}

.done {
    text-decoration: line-through;
    border-bottom: 2px solid rgb(65, 52, 32);
    color: #aaa;
    transition: 0.2s ease-in;
    pointer-events: none;
}

.delete {
    display: block;
    float: right;
    color: #fff;
    pointer-events: all;
}

.delete-hide {
    display: none;
}